@import "tailwindcss";

@theme {
  --color-gold: #f5c400;
  --color-gold-dark: #e2a600;
  --color-gold-light: #ffda45;
  --color-gold-bright: #fdeeb3;

  --color-real-white: #ffffff;
  --color-neutral-white: #fefdfc;

  --color-black: #000000;
  --color-neutral-black: #0b0b0c;
  --color-neutral-dark300: #252734;
  --color-neutral-dark200: #535257;
  --color-neutral-dark100: #6c6c6d;
  --color-neutral-gray: #b4b3ba;
  --color-neutral-light100: #ecebed;
  --color-neutral-light200: #f3f2f2;
  --color-neutral-light300: #fcfcfe;

  --color-coral-red: #ff5e5e;
  --color-green: #03c75a;
  --color-forsythia: #FFE57D;
  --color-avocado: #568203;
  --color-pistachio: #84b067;

  --color-kakao-yellow: #fee500;
  --color-kakao-symbol: #000000;
  --color-kakao-label: rgba(0, 0, 0, 0.85);
}

/*custom class*/
.shadow-custom {
  @apply shadow-[0_0_12px_0_rgba(0,0,0,0.25)];
}

.scroll-custom::-webkit-scrollbar {
  width: 8px;
}
.scroll-custom::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-gray);
  border-radius: 10px;
}
.scroll-custom::-webkit-scrollbar-track {
  background-color: var(--color-real-white);
}

.scroll-custom::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
  height: 10px;
}
.scroll-custom::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 10px;
}

.scroll-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.divider {
  border-top: 1px solid var(--color-neutral-light100);
}
.divider.dark300 {
  border-color: var(--color-neutral-dark300);
}
.divider.w2 {
  border-top-width: 2px;
}

.separator {
  height: 1rem;
  position: relative;
}
.separator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  display: inline-block;
  background-color: var(--color-neutral-black);
}

.writing-mode-vertical-rl {
  writing-mode: vertical-lr;
}

/*구글 머티리얼 아이콘 사이즈 커스텀*/
.material-symbols-rounded.text-base {
  @apply text-base;
}
.material-symbols-rounded.text-lg {
  @apply text-lg;
}
.material-symbols-rounded.text-xl {
  @apply text-xl;
}
.material-symbols-rounded.font-bold {
  @apply font-bold;
}

:root {
  font-family: Pretendard Variable, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
}

h1 {
  @apply text-3xl font-medium;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-neutral-dark300);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* 스크롤바 커스터마이징 (Chrome, Safari, Edge) */
.custom-scroll::-webkit-scrollbar {
  width: 14px !important;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f5f5f5; /* 밝은 회색 배경 */
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #b4b4b4; /* thumb 회색 */
  border-radius: 4px;
}

/* Firefox 대응 */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #b4b4b4 #f5f5f5;
}