@import "tailwindcss";

@theme {
  --color-gold: #F5C400;
  --color-gold-dark: #E2A600;
  --color-gold-light: #FFDA45;

  --color-real-white: #FFFFFF;
  --color-neutral-white: #FEFDFC;

  --color-neutral-black: #0B0B0C;
  --color-neutral-dark200: #535257;
  --color-neutral-dark100: #6C6C6D;
  --color-neutral-gray: #B4B3BA;
  --color-neutral-light100: #ECEBED;
  --color-neutral-light200: #F3F2F2;
  --color-neutral-light300: #FCFCFE;

  --color-coral-red: #FF5E5E;
  --color-avocado: #568203;
  --color-pistachio: #84B067;
}

:root {
  font-family: Pretendard Variable, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
