spring:

  config:
    import: optional:file:.env[.properties]

  application:
    name: bangjwo

  datasource:
    url: jdbc:mysql://localhost:13306/bangjwo?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
    hikari:
      maximum-pool-size: 10
      connection-timeout: 30000
      initialization-fail-timeout: -1

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: none
        default_batch_fetch_size: 1000

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}

    mongodb:
      #      uri: mongodb://bangjwo:1234@mongo:27017/admin      #docker용
      uri: mongodb://bangjwo:1234@localhost:27017/admin #local용

  main:
    allow-bean-definition-overriding: true

registration:
  kakao:
    client-id: ${KAKAO_REST_API_KEY}
    redirect-uri: http://localhost:5173/auth/kakao/callback
    authorization-grant-type: authorization_code
    scope: profile_nickname, profile_image, account_email
    client-name: kakao
provider:
  kakao:
    authorization-uri: https://kauth.kakao.com/oauth/authorize
    token-uri: https://kauth.kakao.com/oauth/token
    user-info-uri: https://kapi.kakao.com/v2/user/me
    user-name-attribute: id

token:
  access_expiration_time: 43200000
  refresh_expiration_time: 2592000000
  secret: ${JWT_SECRET_KEY}

aws:
  access:
    key: ${AWS_ACCESS_KEY}
  secret:
    key: ${AWS_SECRET_KEY}
  s3:
    bucket: "bangjwo-s3"
  region: "ap-northeast-2"

imp:
  code: ${PORTONE_CUSTOMER}
  key: ${PORTONE_API_KEY}
  secret:
    pay: ${PORTONE_PAYMENT_API_SECRET}
    verificate: ${PORTONE_API_SECRET}


